{
    "extends": ["perf-standard"],
    "globals": {
        "global": true
    },
    "plugins": [
        "jsig"
    ],
    "rules": {
        "jsig/type-check": 2,
        "dot-notation": 0,
        "spaced-comment": 0,
        "no-console": 0,
        "max-statements": [2, 40],
        "indent": [2, 4, {
            "SwitchCase": 1
        }],
        "perf-standard/no-array-iterators": 0
    }
}
